<ion-view view-title="LogIt">

	<ion-content class="padding">
		<form ng-submit="addLog(newlog)">
        	<div class="list">
          		<label class="item item-input">
            		<input type="text" placeholder="What are you doing?" ng-model="newlog.content">
          		</label>
        	</div>
        	<div class="padding">
          		<button type="submit" class="button button-block">LogIt!</button>
        	</div>
      	</form>

		<ion-list>
		    <ion-item ng-repeat="log in logs">
				{{log.content}}
		     </ion-item>
   		</ion-list>
	</ion-content>
</ion-view>
